.head-main {
  padding: 35px 0
}
.head-main .logo h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: 0
}
.head-main .logo span {
  color: red;
  font-size: 78px;
  line-height: 1px
}
.head-main .logo a {
  color: #424352;
  text-decoration: none
}
.head-main .logo a span {
  color: red
}
.head-main .logo a:hover {
  text-decoration: none
}
.search-box {
  padding: 0 45px;
  text-align: center
}
.search {
  width: 100%;
  position: relative
}
.search:before {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 25px;
  margin-top: 8px;
  margin-right: 8px;
  font-family: 'FontAwesome';
  content: '\f002';
  background: #fff;
  text-align: center;
  color: #ddd;
  border-radius: 0;
  border-left: 1px solid #ddd
}
.searchTerm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #404755;
  padding: 15px;
  height: 50px;
  border-radius: 4px;
  outline: 0
}
.searchButton {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 50px;
  opacity: 0;
  cursor: pointer
}
.head-main .cart {
  margin-top: 0;
  text-align: center;
  position: relative;
  color: #404755
}
.cart-block {
  display: block;
  width: 100%
}
.head-main .cart span {
  position: absolute;
  background: #fe9f07;
  color: #fff;
  padding: 10px 7px;
  border-radius: 50%;
  left: 35px;
  line-height: 1px;
  font-size: 13px;
  font-weight: 600
}
.head-main .cart img {
  width: 40px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-top: -5px
}
.head-main .cart h5 {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #404755
}
.cart-add-msg {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
  background: rgba(255, 64, 129, 0.95);
  color: #fff;
  left: 0;
  right: 0;
  border-radius: 0;
  border: 0;
  text-align: center
}
.cart-add-msg a {
  color: #fff;
  font-weight: 600;
  text-decoration: underline
}
.cart-add-msg .close {
  font-size: 32px;
  opacity: 1;
  color: #fff;
  text-shadow: none;
  margin-top: -5px;
  line-height: 1
}
.head-main .cart .btn-inverse {
  background: transparent;
  color: #404755;
  border: 0;
  box-shadow: none
}
.head-main .cart .btn-inverse:active {
  background: transparent;
  color: #404755;
  border: 0;
  box-shadow: none;
  border-color: transparent
}
.head-main .cart .btn-inverse:focus {
  background: transparent;
  color: #404755;
  border: 0;
  box-shadow: none;
  border-color: transparent
}
#cart .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 0;
  top: 50px
}
.head-main .support {
  margin-top: 5px;
  text-align: center
}
.head-main .support img {
  width: 40px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  margin-top: -5px
}
.head-main .support h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0
}
.head-main .support a {
  color: #333;
  font-size: 14px;
  border-bottom: 1px dotted #666
}
.head-main .support a:hover {
  text-decoration: none;
  color: #474e5b
}
.navbar {
  margin-bottom: 0
}
.mob-menu {
  padding-top: 12px;
  color: #fff
}
.mob-menu a {
  color: #fff;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: 600
}
.navbar .see-all {
  font-size: 15px
}
.icon-block {
  -webkit-box-shadow: 5px 5px 45px -5px rgba(107, 216, 206, 0.2);
  -moz-box-shadow: 5px 5px 45px -5px rgba(107, 216, 206, 0.2);
  box-shadow: 5px 5px 45px -5px rgba(107, 216, 206, 0.2);
  margin-bottom: 25px;
  padding: 15px 0;
  text-align: center
}
.icon-block h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
  font-family: 'PT Sans', sans-serif
}
.icon-block p {
  margin-bottom: 0;
  font-size: 13px;
  text-transform: uppercase;
  color: #888
}
.icon-block img {
  float: left;
  height: 35px;
  padding-left: 25px
}
.icon-block .b-left {
  border-left: 1px dashed #ccc;
  padding-right: 35px
}
.header-row {
  overflow: visible;
}